@charset "utf-8";

body{
    background-color: rgb(190, 190, 190);
}
main{
    margin: auto;
    width: 300px;
    background-color: gray;
    padding: 20px;
}
div#tela{
    width: 90%;
    height: 70px;
    margin: auto;
    margin-bottom: 1%;
    padding: 0px;
    border: 0px;
    
    background-color: white;
}    
#numero{
    vertical-align: middle;
    text-align: right;
    font-size: 2em;
    padding: 20px 10px;
}
input.btnNum{
    width: 60px;
    display: inline;
    height: 60px;
    margin: 1%;

}

div#botoes{
    width: 100%;
    margin: auto;
    text-align: center;
}
